In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("../")

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

from phonetics import utils as u
from phonetics import plots as plots

In [4]:
lab_file = '/Users/tomasandrade/Documents/BSC/ICHOIR/datasets/maria_voice/LABELED_FULL/ES_volver_a_los_17.lab'

In [25]:
df_algn = u.df_alignments_from_lab_file(lab_file, add_transitions=True)

In [ ]:
df_algn['dur']

           start         end  phone_base  duration  start_idx  end_idx
0       0.000000    0.576848          SP  0.576848          0       28
1       0.576848    0.596848  transition  0.020000         28       29
2       0.596848    0.617664           b  0.020816         29       30
3       0.617664    0.637664  transition  0.020000         30       31
4       0.637664    0.695669           o  0.058005         31       34
...          ...         ...         ...       ...        ...      ...
3210  222.663056  222.685680           r  0.022624      11133    11134
3211  222.685680  222.705680  transition  0.020000      11134    11135
3212  222.705680  223.886602           a  1.180922      11135    11194
3213  223.886602  223.906602  transition  0.020000      11194    11195
3214  223.906602  224.351590          SP  0.444989      11195    11217

[3215 rows x 6 columns]

In [ ]:
# def insert_transitions(df, pad_seconds=0.010, transition_label="transition"):
#     import pandas as pd
#     if df.empty:
#         return df.copy()
#     df_sorted = df.sort_values(["start", "end"]).reset_index(drop=True)
#     out_rows = []
#     current = df_sorted.iloc[0].to_dict()

#     for i in range(len(df_sorted) - 1):
#         left = current
#         right = df_sorted.iloc[i + 1].to_dict()

#         left_len = max(0.0, float(left["end"]) - float(left["start"]))
#         right_len = max(0.0, float(right["end"]) - float(right["start"]))
#         shave_left = min(pad_seconds, left_len)
#         shave_right = min(pad_seconds, right_len)

#         t_start = float(left["end"]) - shave_left
#         t_end = float(right["start"]) + shave_right

#         if t_end < t_start:
#             mid = (float(left["end"]) + float(right["start"])) / 2.0
#             t_start = mid
#             t_end = mid
#             shave_left = max(0.0, min(float(left["end"]) - t_start, left_len))
#             shave_right = max(0.0, min(t_end - float(right["start"]), right_len))

#         trimmed_left = dict(left)
#         trimmed_left["end"] = max(trimmed_left["start"], t_start)
#         out_rows.append(trimmed_left)

#         out_rows.append({"start": t_start, "end": t_end, "phone_base": transition_label})

#         right["start"] = min(float(right["end"]), t_end)
#         current = right

#     out_rows.append(current)
#     return pd.DataFrame(out_rows).reset_index(drop=True)

In [22]:
df2 = insert_transitions(df_algn, pad_seconds=0.010, transition_label="transition")

In [23]:
df2[['start', 'end', 'phone_base']]

           start         end  phone_base
0       0.000000    0.576848          SP
1       0.576848    0.596848  transition
2       0.596848    0.617664           b
3       0.617664    0.637664  transition
4       0.637664    0.695669           o
...          ...         ...         ...
3210  222.663056  222.685680           r
3211  222.685680  222.705680  transition
3212  222.705680  223.886602           a
3213  223.886602  223.906602  transition
3214  223.906602  224.351590          SP

[3215 rows x 3 columns]